<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>idk.idk.idk</string>
	<key>Program</key>
	<string>/Users/mycomputer/Documents/idk tbh/test-thing.sh</string>
	<key>ProgramArguments</key>
	<array>
		<string>/Users/mycomputer/Documents/idk tbh/test-thing.sh</string>
		<string>Public</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>SteamContentPaths</key>
	<array>
		<string>/Users/mycomputer/Documents/idk tbh/test-thing.sh</string>
	</array>
	<key>ThrottleInterval</key>
	<integer>60</integer>
	<key>WatchPaths</key>
	<array>
		<string>/Users/mycomputer/Documents/idk tbh/test-thing.sh</string>
	</array>
</dict>
</plist>
